# Dependencies
node_modules/

# Build output
dist/
release/
out/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Cache
.cache/
*.tsbuildinfo

# Testing
coverage/

# Misc
.eslintcache
*.pem
node_modules
